<!--Content Section-->
<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">


        <!--Content Left Side-->
        <div class="col-3">
            <!--User Testimonial-->
            <blockquote class="testimonial text-right bigtest">
                <q>The thought in itself is excellent and execution, even better. Finally I found an escape from outside unhealthy food</q>
                <footer>— Roushan Ranjan, Happy Customer</footer>
            </blockquote>
            <!-- End of Testimonial-->

        </div>
        <!--End Content Left Side-->

        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h3>BELIEVING</h3>
                <h2 class="section-title">Focusing On What Matters Most</h2>
                <p class="section-subtitle">We at JeeraPowder are devoted to give you a new dining experice in which the ingredients would be yours, so will be the setup, but cooking expertise would be ours, tested, accepted and loved. </p>
            </div>
            <p>Be it a dinner date at the placidity of your own house or a small family gathering, let the cooking be on us.
            </p>
            <p>
                With a brigade of chefs at your disposal who are expert in intricacies of multiple cusines, be it Indian or Continental, Chineese or Mexican
                get ready to enjoy the bests of food preperations with the utmost confidence of quality of ingredients used, as they are from your own kitchen!
            </p>
            <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
            <a href="#" data-videoid="" data-videosite="youtube" class="button video link-lightbox">
                WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>
        <!--End Content Right Side-->

        <div class="col-3">
            <img src="assets/images/dancer.jpg" alt="Dancer"/>
        </div>

    </div>


</div>
<!--End of Content Section-->