<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    <div id="header" class="nav-collapse">
        <div class="row clearfix">
            <div class="col-1">

                <!--Logo-->
                <div id="logo">

                    <!--Logo that is shown on the banner-->
                    <img src="assets/images/jpTextLogo2.png" id="banner-logo" alt="Landing Page"/>
                    <!--End of Banner Logo-->

                    <!--The Logo that is shown on the sticky Navigation Bar-->
                    <img src="assets/images/jpTextLogo2.png" id="navigation-logo" alt="Landing Page"/>
                    <!--End of Navigation Logo-->

                </div>
                <!--End of Logo-->

                <app-social></app-social>

                <!--Main Navigation-->
                <app-nav></app-nav>
                <!--End of Main Navigation-->

                <div id="nav-trigger"><span></span></div>
                <nav id="nav-mobile"></nav>

            </div>
        </div>
    </div><!--End of Header-->

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>Jeera Powder</h1>
                <h2>Get Expert Chefs to come to your house and cook you a ravishing meal</h2>
            </div>

            <!--Call to Action-->
            <a href="/#about" class="button">MORE DETAILS</a>
            <!--End Call to Action-->

        </div>

    </div><!--End of Row-->
</header>