<!--Introduction-->
<section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <!-- <h3>HOW?</h3> -->
                <h2 class="section-title">Book Word Class Chefs to cook for you</h2>
                <p class="section-subtitle">We provide a platform for you to book excellent and well trained cooks to come to your home and cook for you,
                     a RAVISHING MEAL. Get ready for an experience like never before</p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-heartbeat fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Stay Healthy &amp; FIT</h4>
                    <p>Its all yours! Choose the ingredients yourself with love for your family and of-course, for yourself. </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-list-alt fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Choose your own menu</h4>
                    <p>Choose from a list of assorted menus that the chef is best at and get ready for ambrosia to entice your taste-buds. </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-rupee fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>At Unbelievable Costs</h4>
                    <p>At costs you have never imagined. Never before was such an experience this cheap. </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-thumbs-o-up fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Ease</h4>
                    <p>And most of all the feeling of excellent food coming to you, cooked in your kitchen while you binge on your favorite TV series is divine.</p>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

    </div>


</section>
<!--End of Introduction-->